body{
    margin: 0;
    width: 440px;
    height: 590px;
    overflow: hidden;
}
#topbar{
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #233056;
    color: #739FD6;
    font-family: -apple-system, Open Sans, sans-serif;
    border-bottom: 1px solid black;
}
#filter{
    width: 190px;
    height: 27px;
    float: left;
    margin-left: 10px;
    background-color: #233056;
    border: 1px solid #233056;
}
#filter:hover{
    border: 1px solid rgb(62, 77, 113);
}
#filter #search{
    width: 150px;
    margin-top: 4.5px;
    border: 0;
    background-color: #233056;
    color: white;
}
#filter #search:focus{
    background-color: #0D1221;
    outline: none;
}
#filter.focused{
    background-color: #0D1221;
    border: 1px solid #768ba9;
}
#userbar{
    vertical-align: middle;
    width: 100px;
    height: 30px;
    line-height: 30px;
    float: right;
    font-size: 12px;
    font-family: -apple-system, Open Sans, sans-serif;
    color: #63A0FA;
    padding: 1px 0 0 0;
    margin: -1px auto 0 auto;
}
#userbar img{
    margin: 5px 5px 0 0;
    width: 20px;
    height: 20px;
    float: left;
}
#uservar #nickname{
    width: 70px;
    height: 30px;
    margin-left: 25px;
}
#leftbar{
    width: 40px;
    height: calc(100% - 22px - 1px);
    position: relative;
    float: left;
    background-color: #233056;
    border-right: 1px solid black;
    box-shadow: inset -5px 0 5px -4px black;
}
.lbarcontent{
    width: 40px;
    height: 40px;
    float: left;
    display: table-cell;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 30px;
    background-color: #1C2644;
    color: white;
    transition: 0.2s;
    box-shadow: inset -5px 0 5px -4px black;
}
.lbarcontent:hover{
    background-color: #52709C!important;
}
#content{
    width: calc(100% - 40px - 1px);
    height: calc(100% - 22px - 1px);
    position: relative;
    float: right;
    background-color: #0D1221;
    overflow: auto;
}
#unauth{
    position: absolute;
    font-family: -apple-system, Open Sans, sans-serif;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#unauth button{
    width: 70px;
    height: 35px;
    margin-top: 3px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    font-family: -apple-system, Open Sans, sans-serif;
    font-size: 14px;
    background-color: #394466;
    color: #73adff;
}
#unauth button:hover{
    color: #458EFF;
}
#unauth button:active{
    outline: none;
}
#nonactive{
    margin-top: 10px;
    font-family: -apple-system, Open Sans, sans-serif;
    color: white;
    text-align: center;
}
#nonactive button{
    width: 70px;
    height: 35px;
    margin-top: 3px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    font-family: -apple-system, Open Sans, sans-serif;
    font-size: 14px;
    background-color: #394466;
    color: #73adff;
}
#nonactive button:hover{
    color: #458EFF;
}
#nonactive button:active{
    outline: none;
}
.sets{
    min-height: 35px;
    padding: 10px 20px;
    font-family: -apple-system, Open Sans, sans-serif;
    font-size: 14px;
    color: white;
    border-bottom: 1px solid black;
}
input[type="radio"]{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    float: left;
    clear: none;
    margin: 2px 2px 0 2px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 4px solid #1C2644;
    background: #1C2644;
    outline: none;
}
input[type="radio"]:checked{
    background: #52709C;
}
#style label{
    cursor: pointer;
    float: left;
    clear: none;
    padding: 2px 1em 0 0;
    color: #739FD6;
}
input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    background: transparent;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 4px solid #1C2644;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #52709C;
    cursor: pointer;
    margin-top: -7px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: 4px solid #1C2644;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #52709C;
    cursor: pointer;
    margin-top: -7px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
#val {
    margin-top: 5px;
}
.icosearch{
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.icoheart{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.icostar{
    font-family: Arial, Helvetica, sans-serif;
}
.icosets{
    font-family: Arial, Helvetica, sans-serif;
}
.icohelp{
    font-family: Arial, Helvetica, sans-serif;
}
.icosearch::before{
    content: "\1F50D";
}
.icoheart::before{
    content: "\2764";
}
.icostar::before{
    content: "\2605";
}
.icosets::before{
    content: "\2699";
}