#stream {
  cursor: pointer;
  width: 100%;
  min-height: 55px;
  padding-bottom: 10px;
  font-family: -apple-system, Open Sans, sans-serif;
  color: #739fd6;
  border-bottom: 1px solid black;
}
#stream:hover {
  background-color: #233056;
}
#stream img {
  width: 80px;
  height: 45px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
}
.text {
  white-space: nowrap;
  margin-top: 10px;
  margin-left: 5px;
  width: calc(100% - 107px);
  height: 45px;
  float: left;
}
.channame {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  width: calc(100% - 5px);
  font-size: 13px;
  margin-left: 5px;
  padding-bottom: 4px;
  float: left;
  clear: left;
  color: #63a0fa;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  width: calc(100% - 5px);
  margin-left: 5px;
  padding-bottom: 4px;
  float: left;
  font-size: 11px;
}
.name {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: inline;
}
.viewers {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: inline;
}
.icoviewers {
  display: none;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  width: calc(100% - 5px);
  margin-left: 5px;
  float: left;
  clear: left;
  font-size: 11px;
}
