{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "es6": true,
    "webextensions": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "no-console": 0,
    "no-unused-vars": ["warn", { "vars": "all", "args": "all" }],
    "no-undef": ["warn"],
    "no-proto": ["error"],
    "prefer-arrow-callback": ["warn"],
    "prefer-spread": ["warn"]
  }
}
